<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
   
   <style>
        body {
            text-align: center;
        }

    </style>

</head>
<body>
    <h1>Title: <%= books.title %></h1>
    <h2>Author: <%= books.author %></h2>
    <a href="/books">Back to list of books</a>
</body>
</html>