body {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center; 
    color: royalblue;
    
}
/* 

Due to the simplicity of the program this was not needed

form, #temp-to-see {
     display:flex;
     align-items: center;
     justify-content: center;
     
} */
/* @media (min-width: 600px) {
    body {
        background-image: url("landscape.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-align: center;
    }
   }

 */
