<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Perfumery</title>
</head>

<body>
    <div class = "grid-container">
        <header class = "header">
            <div class = "perfumery">
                <button onclick = "openMenu()">
                    &#9776;
                </button>

                <a href="index.html">Perfumery</a>
            </div> 
            <div class= "header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign-In</a>
            </div>



        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class ="sidebar-close" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Perfumes</a>
                </li>

                <li>
                    <a href="index.html">Fragrance Oils</a>
                </li>

            </ul>

        </aside>

        <main class = "main">
            <div class= "content">
            <ul class= "products">
            <li>
                <div class= "product">
                    <img src="images/d1.jpg" alt= "products" /> 
                    <div class = "product-name">
                        <a href="product.html">Rose Scented Perfume</a></div> 
                    <div class = "product-brand"> Tabu </div>
                    <div class = "product-price">$70</div>
                    <div class = "product-rating">4 Stars (10 reviews)</div>
                </div>

            </li>
            
            </ul>
            </div> 
        </main>
        <footer class = "footer">
            Perfumery is Great! 
        </footer>

    </div>
    <script> 
    function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
    }

    </script>

</body>

</html>